@model StokTakip.Bll.Dtos.BookListDto
@using StokTakip.Bll.ResultType.Enums

@if (Model.ResultStatus == ResultStatus.Success)
{
    <div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-hidden="true"  >
        <div class="modal-dialog  modal-lg "  >
            <div class="modal-content " >
                <div class="modal-header">
                    <h5 class="modal-title">Kategorinin kitapları </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="iptal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="booksTable"  cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Kategori ID</th>
                                <th>Yazar ID</th>
                                <th>Stok</th>
                                <th>Güncellenme Tarihi</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Kategori ID</th>
                                <th>Yazar ID</th>
                                <th>Stok</th>
                                <th>Güncellenme Tarihi</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var book in Model.Books)
                            {
                                <tr>
                                    <td>@book.ID</td>
                                    <td>@book.Name</td>
                                    <td>@book.CategoryId</td>
                                    <td>@book.AuthorId</td>
                                    <td>@book.Stock</td>
                                    <td>@book.UpdatedDate</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger mt-4">
        @Model.Message 
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#booksTable').DataTable({
                pageLength: 8
            });
        });
    </script>
}
