@using StokTakip.Bll.ResultType.Enums
@model StokTakip.Bll.Dtos.CategoryListDto
@{
    ViewBag.Title = "Kategoriler";
}

@if (Model.ResultStatus == ResultStatus.Success)
{
    <div id="modalIsHere" aria-hidden="true" ></div>
    <div class="card mt-3 mb-3">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Kategoriler
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="categoriesTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Listele</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                            <th>Listele</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var category in Model.Categories)
                        {
                        <tr>
                            <td>@category.ID</td>
                            <td>@category.Name</td>
                            <td>
                                <button data-id="@category.ID" class="btn btn-danger btn-delete text-light">Sil</button>
                            </td>
                            <td>
                                <button  data-id="@category.ID" class="btn btn-success btn-update text-light">Güncelle</button>
                            </td>
                            <td>
                                <button  data-id="@category.ID" class="btn btn-primary btn-list text-light">Listele</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
}
@if (Model.ResultStatus != ResultStatus.Success)
{ 
    <div class="alert alert-danger mt-3">
        @Model.Message <br/>
        Ana Sayfaya dönmek için <a class="alert-link" asp-controller="Home" asp-action="Index" > tıklayınız</a>.
    </div>
}
    @section Scripts{
        <script src="~/js/categoryIndex.js" ></script>
    }


